{% extends "base.html" %}

{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th>Category</th>
                <th>Goal</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for category in categories %}
                <form action="{{ url_for('budget.edit_categories') }}" method="post">
                    <input type="hidden" name="category_id" value="{{ category.id }}">
                    <input type="hidden" name="goal_id" value="{{ category.goal_id }}">

                    <tr>
                        <td class="align-middle">
                            <input type="text" value="{{ category.name }}" name="name">
                        </td>
                        <td class="align-middle">
                            <input type="number" value="{{ category.goal }}" step="0.01" name="goal">
                        </td>
                        <td><input type="submit" class="btn btn-danger" formaction="{{ url_for('budget.delete_category') }}" value="Delete"></td>
                        <td><input type="submit" class="btn btn-primary" value="Save Changes"></td>
                    </tr>
                </form>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
