{% extends "base.html" %}

{% block content %}
    <form method="POST">
        <input type="hidden" id="id" name="id" value="{{ category.id }}">
        <input type="hidden" id="goal_id" name="goal_id" value="{{ goal_id }}">

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ category.name }}">
        </div>

        <div class="mb-3">
            <label for="goal" class="form-label">Goal</label>
            <input type="number" class="form-control" id="goal" name="goal" placeholder="Goal" value="{{ category.goal }}" step="0.01">
        </div>

        <div class="mb-3">
            <button type="submit" formaction="{{ url_for('budget.view_category', category_id=category.id) }}" class="btn btn-primary btn-lg">Submit</button>
            <button type="submit" formaction="{{ url_for('budget.delete_category', category_id=category.id) }}" class="btn btn-danger">Delete</button>
        </div>
    </form>
{% endblock %}
