{% extends "base.html" %}

{% block content %}
    <h1>{{ budget.month }} {{ budget.year }}</h1>
    <table class="table table-bordered mb-3">
        <tbody>
            <tr class="table-success">
                <th>Income</th>
                {% if budget and budget.income %}
                    <td>${{ budget.income }}</td>
                {% else %}
                    <td>$0.00</td>
                {% endif %}
            </tr>

            <tr class="table-danger">
                <th>Expenses</th>
                {% if budget and budget.expense %}
                    <td>${{ budget.expense }}</td>
                {% else %}
                    <td>$0.00</td>
                {% endif %}
            </tr>
        </tbody>

        <tfoot>
            <tr class="table-secondary">
                <th>Balance</th>
                {% if budget and budget.income and budget.expense %}
                    <td>${{ budget.income - budget.expense }}</td>
                {% else %}
                    <td>$0.00</td>
                {% endif %}
            </tr>
        </tfoot>
    </table>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th>Category</th>
                <th>Goal</th>
                <th>Spent</th>
                <th>Remaining</th>
            </tr>
        </thead>

        <tbody>
            {% if budget %}
                {% for category in budget.categories %}
                    <tr>
                        <td><a href="{{ url_for('budget.view_category', category_id=category.id) }}">{{ category.name }}</a></td>
                        <td>${{ category.goal }}</td>
                        <td>${{ category.spent|default('0.00', True) }}</td>
                        <td>${{ category.remaining }}
                        {% if category.remaining and category.remaining < 0 %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-diamond-fill text-danger float-end" viewBox="0 0 16 16">
                              <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <h1>Add Category</h1>
    <div class="container-fluid">
        <form method="POST" action="/category/add">
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text" id="amount_addon">$</span>
                        <input type="text" class="form-control" id="amount" name="amount" placeholder="Allotted" value="0">
                    </div>
                </div>

                <div class="col-1 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" aria-label="Add Transaction">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
