{% extends "base.html" %}

{% block content %}
    <form method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <div class="d-grid gap-2">
            <button type="submit" formaction="/login" class="btn btn-primary btn-lg">Submit</button>
            <button type="submit" formaction="/register" class="btn btn-secondary">Register</button>
            <a class="btn btn-outline-primary" href="{{ url_for('auth.reset_password') }}">Reset Password</a>
        </div>
    </form>
{% endblock %}
