{% extends "base.html" %}

{% block content %}
    <form method="POST">
        {% if request_code %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
        {% else %}
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>

            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
            </div>
        {% endif %}

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
{% endblock %}