{% extends "base.html" %}

{% block content %}
    <h1>Editing Transactions for {{ budget.month }} {{ budget.year }}</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-primary">
                <th>Date</th>
                <th>Recipient</th>
                <th>Category</th>
                <th>Amount</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% if transactions %}
                    {% for transaction in transactions %}
                    <form action="{{ url_for('transaction.edit_transactions') }}" method="post">
                    <input type="hidden" name="id" value="{{ transaction.id }}">
                        <tr>
                            <td><input type="date" value="{{ transaction.date }}" name="date"></td>
                            <td><input type="text" value="{{ transaction.recipient }}" name="recipient"></td>
                            <td><input type="text" value="{{ transaction.category }}" name="category_id"></td>
                            <td><input type="number" value="{{ transaction.amount|default('0.00', True) }}" name="amount" step="0.01"></td>

                            <td class="text-center">
                                <input type="submit" class="btn btn-danger" formaction="{{ url_for('transaction.delete') }}" value="Delete">
                            </td>

                            <td>
                                <input type="submit" class="btn btn-primary" value="Save Changes">
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}